header {
   background: #FFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 8px 24px;
}

header .logo-menu, 
header .pesquisar {
   display: flex;
   justify-content: center;
}

header .logo-menu img {
   margin-left: 32px;
}

header .pesquisar input {
   width: 348px;
   height: 40px;
   border: 1px solid #CCC;
}

header .pesquisar button {
   width: 57px;
   height: 40px;
}

header .alerta {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 24px;
}

header .alerta img {
   width: 34px;
   height: 34px;
   border-radius: 50%;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   width: 100vw;
   height: 100vh;
}

h1 {
   color: #000;
   font-size: 20px;
   font-weight: 700;
}

h2 {
   color: #000;
   font-size: 14px;
   font-weight: 600;
}

h3, p {
   font-size: 14px;
}

p {
   color: #515151;
}

ul li {
   list-style: none;
}

a {
   text-decoration: none;
}

main {
   background: #F9F9F9;
   width: 100%;
   padding-top: 28px;

   display: flex;
}

main .video {
   margin-left: 75px;
}

main .video .video-desc {
   padding: 16px 0;
}

main .video .canal-inf {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 42px;
}

main .video .canal-inf .canal {
   display: flex;
   flex-direction: row;
}

main .video .canal-inf .canal .detalhes {
   margin-left: 12px;
}

main .video .canal-inf .canal .detalhes h3 {
   font-weight: 700;
}

main .video .canal-inf .inscricao button {
   width: 159px;
   height: 40px;
   border: transparent;
   border-radius: 2px;
   background: #C00;

   color: #FFF;
   font-size: 14px;
   text-transform: uppercase;
}

main .video .canal-inf .like {
   display: flex;
   flex-direction: row;
   align-items: center;
}

main .video .canal-inf .dislike {
   display: flex;
   flex-direction: row;
   align-items: center;
}

main .video .canal-inf .compartir {
   display: flex;
   flex-direction: row;
   align-items: center;
}

main .video .canal-inf .download {
   display: flex;
   flex-direction: row;
   align-items: center;
}

main .video .canal-inf .like p,
main .video .canal-inf .dislike p,
main .video .canal-inf .compartir p,
main .video .canal-inf .download p {
   margin-left: 8px;
}

main .video .views {
   width: 391px;
   height: 16px;
   padding: 16px 0;
}

main .video .views p {
   color: #000;
   font-weight: 700;
}

main .video .resumo {
   padding-top: 16px;
   width: 510px;
}

main .video .resumo p {
   color: #515151;
   font-weight: 400;
}

main .video {
   margin-left: 25px;
}

main .video .miniatura {
   display: flex;
   margin-bottom: 16px;
}

main .video .miniatura .miniatura-inf {
   width: 196px;
   max-height: 90px;
   margin-left: 16px;
}

main .video .miniatura .miniatura-inf .canal,
main .video .miniatura .miniatura-inf .visualizacoes {
   padding-top: 5px;
}

main .video .miniatura .miniatura-inf .canal p,
main .video .miniatura .miniatura-inf .visualizacoes p {
   font-size: 11px;
}
.logo-img{  
   border-radius: 50%;

}